extends layout

block content
  .content-head
    input#search.wow.fadeInLeft.animated(type='search', placeholder='SEARCH...', data-wow-delay='0.5s')
    span.wow.fadeInRight.animated(data-wow-delay='0.5s')
      | 共有
      em= total
      | 个结果
  .content-middle
  .content-foot
    button.add.wow.animated.fadeInUp(type='button', data-toggle='modal', data-target='#addUser' ) 添加
    #page.m-pagination.wow.animated.fadeInUp


