doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/bookmark.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/mricode.pagination.css',type='text/css')
    body
        block content

