body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}

div.content-head {
    margin: 40px auto;
    max-width: 1000px;
    text-align: center;
}

#search {
    width: 70%;
    font-size: 30px;
    vertical-align: middle;
}

div.content-head > span {
    margin-left: 20px;
}

div.content-middle {
    max-width: 1000px;
    margin: 20px auto;
}

div.result {
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
    border: none;
    border-bottom: 1px dashed black;
    padding: 20px;
}

div.result-content {
    width: 85%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

span.title {
    width: 70%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
}


span.created {
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 0;
}

button.delete {

    position: absolute;
    top: 5px;
    right: 0;
}

div.content-foot {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

button.add {
    position: absolute;
    top: 15px;
    left: 10px;
}

#page.m-pagination{
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 10px;
}

button {
    font-size: 15px;
    width: 12%;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    padding: 6px 0;
    cursor: pointer;
    color: #888;
}

button:hover{
    background: #eee;
}


em.high-light {
    background: #54679D;
}

div.bookmarks,div.address {
    font-size: 20px;
    margin-top: 15px;
}

 
input {
    border: 1px solid #ccc;
    border-radius: 2px;
    outline-color: #337ab7;
}

input:focus{
    border: 1px solid #fff;
}

form.addbookmark {
    text-align: center;
}

button#add{
    margin-top: 26px;
    width: 22%;
}

div.error {
    margin-top: 15px;
    color: red;
    display: none;
}